section.b-about
    .container
        h2.b-about__title Дмитровский завод РТИ
        p.b-about__subtitle «Дмитровский завод РТИ» приглашает к сотрудничеству предприятия, нуждающиеся в утилизации: покрышек, шин, колес,а так же распространителей резиновой крошки, резиновой плитки и напольных резиновых покрытий. Завод обладает мощностями для переработки 100.000 тонн шин в год.
        .b-about__cards
            .b-about__card
                .b-about__icon
                    img(src="img/icon1.svg")
                p.b-about__name Утилизация шин
                p.b-about__text вынуждены отталкиваться от того, что граница обучения кадров обеспечивает актуальность инновационных методов управления процессами.
                a.b-about__link.b-next
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-about__card
                .b-about__icon
                    img(src="img/icon4.svg")
                p.b-about__name Утилизация бытовой и орг.техники
                p.b-about__text вынуждены отталкиваться от того, что граница обучения кадров обеспечивает актуальность инновационных методов управления процессами.
                a.b-about__link.b-next
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-about__card
                .b-about__icon
                    img(src="img/icon2.svg")
                p.b-about__name Реализация резиновой кроши

                p.b-about__text вынуждены отталкиваться от того, что граница обучения кадров обеспечивает актуальность инновационных методов управления процессами.
                a.b-about__link.b-next
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-about__card
                .b-about__icon
                    img(src="img/icon3.svg")
                p.b-about__name Исполнение нормативов по утилизации

                p.b-about__text вынуждены отталкиваться от того, что граница обучения кадров обеспечивает актуальность инновационных методов управления процессами.
                a.b-about__link.b-next
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
