section.b-certificates#certificates
    .container
        h2.b-certificates__title Лицензия и сертификаты
        .b-certificates__cards
            .b-certificates__card
                .b-certificates__icon
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 38.48 48.11')
                        defs
                            style.
                                .cls-1 {
                                    fill: #fff;
                                    fill-rule: evenodd;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 11
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M19.29,39.72H31.48a2.34,2.34,0,0,1,1.26.18,1.77,1.77,0,0,1,.71,1.2,1.64,1.64,0,0,1-.77,1.13,3.32,3.32,0,0,1-1.49.19H6.81c-1.18,0-1.92-.56-1.82-1.39.12-1.09.91-1.34,1.88-1.34C11,39.73,15.15,39.72,19.29,39.72Z')
                                path.cls-1(d='M15.11,34c5.47,0,10.94,0,16.41,0a2.49,2.49,0,0,1,1.74.63c.71.86,0,2-1.27,2-1.77,0-3.54,0-5.31,0H7.42c-.27,0-.55,0-.82,0-.89,0-1.61-.41-1.6-1.36s.69-1.35,1.6-1.35h8.51Z')
                                path.cls-1(d='M19.24,31.08c-4,0-8,0-12.08,0-.39,0-.88.08-1.15-.12s-1-.84-1-1.26.62-.87,1-1.26c.11-.11.38-.06.57-.06,8.44,0,16.89,0,25.33,0a1.84,1.84,0,0,1,1.37.8c.53,1-.1,1.81-1.31,1.86-1.54.05-3.08,0-4.62,0Q23.32,31.1,19.24,31.08Z')
                                path.cls-1(d='M19.35,25.41H7.17c-.4,0-.89.08-1.16-.12s-1-.84-1-1.27.6-.89,1-1.25c.16-.14.53-.07.8-.07q12.38,0,24.74,0a2.42,2.42,0,0,1,1.66.61c.71.84,0,2-1.24,2.07-1.66.05-3.32,0-5,0Z')
                                path.cls-1(d='M24.2,19.73H16.64c-.92,0-1.79-.15-1.79-1.36S15.7,17,16.63,17H31.75c1.23,0,1.82.49,1.75,1.41-.08,1.07-.83,1.3-1.74,1.3Z')
                                path.cls-1(d='M38.48,2C38.48.37,38.11,0,36.53,0H2C.46,0,0,.47,0,2V46.11c0,1.51.06,2,1.59,2l2.19,0V45.4h0c-1.1,0-1.18-.33-1.18-1.41,0-9.82.13-19.64.13-29.46,0-.46.1-.91.13-1.36.39,0,.65-.06.88-.06,10.3,0,20.6,0,30.9,0,1.14,0,1.17.57,1.17,1.4,0,9.82,0,19.64,0,29.46,0,1.14-.74,1.47-1.87,1.46-5.18,0-24.14,0-30.14,0v2.69c6,0,26.47,0,32.41,0,1.53,0,2.1-.38,2.1-1.88C38.29,31.46,38.49,16.71,38.48,2Z')


                p.b-certificates__name Лицензия
                p.b-certificates__text на осуществление деятельности по сбору, транспортировки, обработке, утилизации, обезвреживанию, размещению отходов I-IV классов опастности.
                a.b-certificates__link.b-link
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-certificates__card
                .b-certificates__icon
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 38.99 48.91')
                        defs
                            style.
                                .cls-1 {
                                    fill: #fff;
                                    fill-rule: evenodd;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 12
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M2.4,48.86A2.27,2.27,0,0,1,0,46.37C0,35.17,0,24,0,12.77a3.36,3.36,0,0,1,.9-2.06C4.13,7.44,7.4,4.26,10.62,1a3.33,3.33,0,0,1,2.52-1c7.57,0,15.14,0,22.72,0C38.06,0,39,.94,39,3.19Q39,21.6,39,40c0,2,0,3.94,0,5.91a2.67,2.67,0,0,1-3,3q-10.35,0-20.71,0C14.86,48.88,4.7,48.77,2.4,48.86Zm.43-2.74H4.19c10.22,0,20.43,0,30.65,0,1.19,0,1.41-.39,1.41-1.48q-.06-20.24,0-40.47V2.87H13.53c0,2.71,0,5.34,0,8,0,1.93-.76,2.73-2.69,2.76-2.21,0-4.42.07-6.63,0-1.1,0-1.48.25-1.47,1.42,0,9.9,0,19.8,0,29.7C2.77,45.15,2.8,45.57,2.83,46.12ZM10.74,5.21l-5.8,5.7c1.84,0,3.55,0,5.26,0a.77.77,0,0,0,.52-.49C10.75,8.65,10.74,6.89,10.74,5.21Z')
                                path.cls-1(d='M19.46,20.29H31.53c.39,0,.88-.09,1.15.11s.93.84.92,1.27-.56.92-1,1.25c-.23.17-.69.08-1,.08H7.44c-1.58,0-2.35-.47-2.32-1.39s.77-1.33,2.39-1.33Z')
                                path.cls-1(d='M19.33,26H31.52c.35,0,.81-.11,1,.07a2.69,2.69,0,0,1,1.07,1.32c.15.66-.37,1.17-1.08,1.28a6.34,6.34,0,0,1-1.07.05h-24c-1.59,0-2.35-.46-2.34-1.38S5.88,26,7.5,26Z')
                                path.cls-1(d='M19.41,31.64h12a7.51,7.51,0,0,1,1.06,0c.76.1,1.35.59,1.19,1.31a2,2,0,0,1-1.17,1.2,7.15,7.15,0,0,1-2.23.18h-23c-.31,0-.72.1-.92-.06-.46-.36-1.13-.84-1.13-1.28s.62-1,1.09-1.3c.27-.19.76-.08,1.16-.08Z')
                                path.cls-1(d='M19.44,40H7.38c-.35,0-.8.1-1-.07-.46-.33-1.18-.87-1.13-1.25s.72-.94,1.18-1.36c.14-.12.46,0,.7,0H31.78c1.59,0,2.22.74,1.57,2a2,2,0,0,1-1.5.72C27.71,40.07,23.57,40,19.44,40Z')
                                path.cls-1(d='M24.39,14.61h7.44c1,0,1.76.22,1.84,1.35.06.9-.55,1.37-1.8,1.37q-7.56,0-15.12,0c-1.21,0-1.82-.49-1.78-1.39.07-1.1.84-1.32,1.74-1.32Z')

                p.b-certificates__name Экспертное заключение
                p.b-certificates__text по результатам санитарно-эпидемической экспертизы продукции Изделия из резиновой крошки (плитка, бордюры, накладки на ступени, маты, ковры) по ТУ 2539-001-00014467-2013
                a.b-certificates__link.b-link
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-certificates__card
                .b-certificates__icon
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 38.99 48.91')
                        defs
                            style.
                                .cls-1 {
                                    fill: #fff;
                                    fill-rule: evenodd;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 12
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M2.4,48.86A2.27,2.27,0,0,1,0,46.37C0,35.17,0,24,0,12.77a3.36,3.36,0,0,1,.9-2.06C4.13,7.44,7.4,4.26,10.62,1a3.33,3.33,0,0,1,2.52-1c7.57,0,15.14,0,22.72,0C38.06,0,39,.94,39,3.19Q39,21.6,39,40c0,2,0,3.94,0,5.91a2.67,2.67,0,0,1-3,3q-10.35,0-20.71,0C14.86,48.88,4.7,48.77,2.4,48.86Zm.43-2.74H4.19c10.22,0,20.43,0,30.65,0,1.19,0,1.41-.39,1.41-1.48q-.06-20.24,0-40.47V2.87H13.53c0,2.71,0,5.34,0,8,0,1.93-.76,2.73-2.69,2.76-2.21,0-4.42.07-6.63,0-1.1,0-1.48.25-1.47,1.42,0,9.9,0,19.8,0,29.7C2.77,45.15,2.8,45.57,2.83,46.12ZM10.74,5.21l-5.8,5.7c1.84,0,3.55,0,5.26,0a.77.77,0,0,0,.52-.49C10.75,8.65,10.74,6.89,10.74,5.21Z')
                                path.cls-1(d='M19.46,20.29H31.53c.39,0,.88-.09,1.15.11s.93.84.92,1.27-.56.92-1,1.25c-.23.17-.69.08-1,.08H7.44c-1.58,0-2.35-.47-2.32-1.39s.77-1.33,2.39-1.33Z')
                                path.cls-1(d='M19.33,26H31.52c.35,0,.81-.11,1,.07a2.69,2.69,0,0,1,1.07,1.32c.15.66-.37,1.17-1.08,1.28a6.34,6.34,0,0,1-1.07.05h-24c-1.59,0-2.35-.46-2.34-1.38S5.88,26,7.5,26Z')
                                path.cls-1(d='M19.41,31.64h12a7.51,7.51,0,0,1,1.06,0c.76.1,1.35.59,1.19,1.31a2,2,0,0,1-1.17,1.2,7.15,7.15,0,0,1-2.23.18h-23c-.31,0-.72.1-.92-.06-.46-.36-1.13-.84-1.13-1.28s.62-1,1.09-1.3c.27-.19.76-.08,1.16-.08Z')
                                path.cls-1(d='M19.44,40H7.38c-.35,0-.8.1-1-.07-.46-.33-1.18-.87-1.13-1.25s.72-.94,1.18-1.36c.14-.12.46,0,.7,0H31.78c1.59,0,2.22.74,1.57,2a2,2,0,0,1-1.5.72C27.71,40.07,23.57,40,19.44,40Z')
                                path.cls-1(d='M24.39,14.61h7.44c1,0,1.76.22,1.84,1.35.06.9-.55,1.37-1.8,1.37q-7.56,0-15.12,0c-1.21,0-1.82-.49-1.78-1.39.07-1.1.84-1.32,1.74-1.32Z')

                p.b-certificates__name Санитарный сертификат
                p.b-certificates__text Экспертное заключение о соответсвии продукции Единым санитарно-эпидемиологическому надзору (контролю)
                a.b-certificates__link.b-link
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-certificates__card
                .b-certificates__icon
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 38.99 48.91')
                        defs
                            style.
                                .cls-1 {
                                    fill: #fff;
                                    fill-rule: evenodd;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 12
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M2.4,48.86A2.27,2.27,0,0,1,0,46.37C0,35.17,0,24,0,12.77a3.36,3.36,0,0,1,.9-2.06C4.13,7.44,7.4,4.26,10.62,1a3.33,3.33,0,0,1,2.52-1c7.57,0,15.14,0,22.72,0C38.06,0,39,.94,39,3.19Q39,21.6,39,40c0,2,0,3.94,0,5.91a2.67,2.67,0,0,1-3,3q-10.35,0-20.71,0C14.86,48.88,4.7,48.77,2.4,48.86Zm.43-2.74H4.19c10.22,0,20.43,0,30.65,0,1.19,0,1.41-.39,1.41-1.48q-.06-20.24,0-40.47V2.87H13.53c0,2.71,0,5.34,0,8,0,1.93-.76,2.73-2.69,2.76-2.21,0-4.42.07-6.63,0-1.1,0-1.48.25-1.47,1.42,0,9.9,0,19.8,0,29.7C2.77,45.15,2.8,45.57,2.83,46.12ZM10.74,5.21l-5.8,5.7c1.84,0,3.55,0,5.26,0a.77.77,0,0,0,.52-.49C10.75,8.65,10.74,6.89,10.74,5.21Z')
                                path.cls-1(d='M19.46,20.29H31.53c.39,0,.88-.09,1.15.11s.93.84.92,1.27-.56.92-1,1.25c-.23.17-.69.08-1,.08H7.44c-1.58,0-2.35-.47-2.32-1.39s.77-1.33,2.39-1.33Z')
                                path.cls-1(d='M19.33,26H31.52c.35,0,.81-.11,1,.07a2.69,2.69,0,0,1,1.07,1.32c.15.66-.37,1.17-1.08,1.28a6.34,6.34,0,0,1-1.07.05h-24c-1.59,0-2.35-.46-2.34-1.38S5.88,26,7.5,26Z')
                                path.cls-1(d='M19.41,31.64h12a7.51,7.51,0,0,1,1.06,0c.76.1,1.35.59,1.19,1.31a2,2,0,0,1-1.17,1.2,7.15,7.15,0,0,1-2.23.18h-23c-.31,0-.72.1-.92-.06-.46-.36-1.13-.84-1.13-1.28s.62-1,1.09-1.3c.27-.19.76-.08,1.16-.08Z')
                                path.cls-1(d='M19.44,40H7.38c-.35,0-.8.1-1-.07-.46-.33-1.18-.87-1.13-1.25s.72-.94,1.18-1.36c.14-.12.46,0,.7,0H31.78c1.59,0,2.22.74,1.57,2a2,2,0,0,1-1.5.72C27.71,40.07,23.57,40,19.44,40Z')
                                path.cls-1(d='M24.39,14.61h7.44c1,0,1.76.22,1.84,1.35.06.9-.55,1.37-1.8,1.37q-7.56,0-15.12,0c-1.21,0-1.82-.49-1.78-1.39.07-1.1.84-1.32,1.74-1.32Z')

                p.b-certificates__name Сертификат соответсвия
                p.b-certificates__text продукции Изделия из резиновой крошки (плитка, бордюры, накладки на ступени, маты, ковры) серийный выпуск ТУ 2539-001-00014467-2013
                a.b-certificates__link.b-link
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
