section.b-certificates#certificates
    .container
        h2.b-certificates__title Лицензия и сертификаты
        .b-certificates__cards
            .b-certificates__card
                .b-certificates__icon
                    svg#SVGDoc(width='39' height='49' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink'  viewbox='0 0 39 49')
                        g
                            g
                                title &lt;Path&gt;
                                path(d='M38.7026,2.4068c-0.001,-1.586 -0.371,-1.949 -1.95,-1.951c-11.517,-0.005 -23.035,-0.005 -34.552,0.002c-1.518,0 -1.976,0.465 -1.976,1.97c-0.002,14.713 -0.001,29.424 0.001,44.139c0.001,1.509 0.057,1.966 1.588,1.976c1.245,0.008 2.186,0.016 2.186,0.016v0v-2.711c0,0.004 0.114,0.006 -0.033,0.008c-1.102,0.025 -1.184,-0.338 -1.18,-1.414c0.042,-9.82 0.123,-19.643 0.128,-29.463c0,-0.451 0.1,-0.904 0.127,-1.355c0.391,-0.028 0.649,-0.059 0.883,-0.059c10.295,-0.002 20.602,0.015 30.897,-0.028c1.144,-0.004 1.174,0.565 1.173,1.393c-0.011,9.82 -0.022,19.641 0.015,29.463c0.004,1.144 -0.736,1.472 -1.868,1.463c-5.183,-0.041 -24.142,-0.028 -30.142,-0.02v2.684c6,0.045 26.475,0.033 32.414,0.023c1.529,-0.001 2.098,-0.377 2.098,-1.881c0.005,-14.752 0.199,-29.503 0.191,-44.255z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M24.4253,20.1856c-2.52,0 -5.039,0.004 -7.559,-0.004c-0.926,-0.002 -1.791,-0.146 -1.795,-1.355c-0.004,-1.207 0.849,-1.358 1.784,-1.358c5.039,-0.002 10.078,-0.006 15.117,0.007c1.23,0.003 1.816,0.483 1.75,1.403c-0.078,1.073 -0.825,1.307 -1.738,1.307c-2.52,-0.004 -5.039,-0.002 -7.559,0z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.5781,25.8633c-4.063,0 -8.126,0.002 -12.189,-0.004c-0.392,-0.001 -0.884,0.081 -1.151,-0.121c-0.427,-0.314 -0.976,-0.84 -0.966,-1.263c0.011,-0.433 0.599,-0.89 1.01,-1.249c0.165,-0.144 0.531,-0.078 0.806,-0.078c8.244,-0.004 16.49,-0.015 24.735,0.019c0.567,0.005 1.322,0.208 1.657,0.6c0.715,0.842 -0.015,2.038 -1.238,2.076c-1.656,0.051 -3.314,0.018 -4.972,0.02z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.4585,31.5372c-4.023,0 -8.047,0.004 -12.071,-0.004c-0.391,0 -0.883,0.078 -1.15,-0.121c-0.426,-0.316 -0.976,-0.842 -0.966,-1.264c0.012,-0.431 0.618,-0.865 1.009,-1.254c0.109,-0.107 0.379,-0.066 0.575,-0.066c8.442,-0.002 16.884,-0.014 25.326,0.033c0.473,0.002 1.151,0.393 1.375,0.799c0.529,0.963 -0.099,1.815 -1.317,1.859c-1.537,0.054 -3.076,0.018 -4.615,0.018c-2.722,0.002 -5.444,0.002 -8.166,0z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M15.3301,34.4922c5.47,0 10.94,-0.017 16.411,0.03c0.599,0.003 1.402,0.217 1.746,0.635c0.706,0.856 -0.036,2.007 -1.278,2.042c-1.766,0.049 -3.535,0.016 -5.303,0.016c-6.419,0.002 -12.84,0 -19.261,0c-0.274,0 -0.551,0.006 -0.826,-0.007c-0.887,-0.034 -1.602,-0.405 -1.595,-1.359c0.006,-0.94 0.688,-1.348 1.599,-1.348c2.836,-0.001 5.671,0 8.507,0z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.5166,40.1744c4.063,0 8.127,-0.004 12.19,0.007c0.426,0 0.95,-0.035 1.252,0.186c0.356,0.262 0.721,0.787 0.714,1.192c-0.008,0.392 -0.399,0.923 -0.769,1.129c-0.41,0.224 -0.986,0.196 -1.49,0.196c-7.929,0.01 -15.858,0.007 -23.787,0.007c-0.198,0 -0.395,0.005 -0.592,-0.002c-1.177,-0.038 -1.917,-0.561 -1.824,-1.389c0.122,-1.092 0.91,-1.334 1.88,-1.333c4.142,0.014 8.283,0.007 12.426,0.007z' fill='#ffffff' fill-opacity='1')

                p.b-certificates__name Лицензия
                p.b-certificates__text на осуществление деятельности по сбору, транспортировки, обработке, утилизации, обезвреживанию, размещению отходов I-IV классов опастности.
                a.b-certificates__link.b-next
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-certificates__card
                .b-certificates__icon
                    svg#SVGDoc(width='40' height='49' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 40 49')
                        g
                            g
                                title &lt;Path&gt;
                                path(d='M24.7461,14.6675c2.48,0 4.963,0.008 7.443,-0.003c0.959,-0.002 1.756,0.218 1.835,1.347c0.064,0.905 -0.551,1.367 -1.794,1.369c-5.042,0.011 -10.084,0.011 -15.125,0c-1.209,-0.002 -1.822,-0.489 -1.774,-1.388c0.061,-1.098 0.834,-1.318 1.735,-1.323c2.559,-0.007 5.119,-0.002 7.68,-0.002z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.7949,40.0958c-4.018,0 -8.035,0.002 -12.053,-0.002c-0.353,0 -0.801,0.104 -1.041,-0.07c-0.469,-0.334 -1.179,-0.875 -1.135,-1.25c0.062,-0.496 0.726,-0.946 1.186,-1.356c0.137,-0.121 0.456,-0.046 0.691,-0.046c8.234,0 16.466,-0.006 24.699,0.002c1.587,0.002 2.216,0.743 1.565,1.974c-0.212,0.402 -0.983,0.709 -1.504,0.715c-4.136,0.059 -8.271,0.033 -12.408,0.033z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.7715,31.692c3.984,0.001 7.97,0 11.955,0.001c0.355,0 0.714,-0.019 1.064,0.028c0.76,0.104 1.343,0.588 1.186,1.316c-0.103,0.475 -0.684,1.026 -1.171,1.192c-0.683,0.234 -1.477,0.181 -2.224,0.183c-7.655,0.01 -15.309,0.006 -22.963,0.002c-0.316,0 -0.722,0.096 -0.926,-0.06c-0.458,-0.357 -1.122,-0.838 -1.128,-1.278c-0.006,-0.439 0.627,-0.97 1.094,-1.301c0.27,-0.189 0.763,-0.08 1.158,-0.082c3.984,-0.001 7.971,-0.001 11.955,-0.001z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.6875,26.022c4.062,0 8.124,0 12.185,0.002c0.354,0 0.815,-0.106 1.04,0.07c0.442,0.349 0.963,0.818 1.069,1.318c0.142,0.664 -0.372,1.168 -1.089,1.285c-0.348,0.059 -0.707,0.042 -1.061,0.044c-8.005,0.001 -16.011,0.001 -24.017,0c-1.588,0 -2.352,-0.456 -2.335,-1.382c0.018,-0.916 0.761,-1.337 2.378,-1.337z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M0.3657,46.4228c-0.01,-11.202 -0.021,-22.403 0.034,-33.604c0.004,-0.695 0.405,-1.547 0.899,-2.055c3.186,-3.267 6.456,-6.453 9.683,-9.682c0.708,-0.708 1.493,-1.033 2.514,-1.029c7.573,0.027 15.146,0.016 22.719,0.016c2.203,0 3.126,0.925 3.127,3.173c0.005,12.267 0.004,24.532 0.004,36.8c0,1.97 0.011,3.943 -0.005,5.914c-0.016,1.967 -1.032,2.995 -2.974,2.997c-6.902,0.008 -13.804,0.012 -20.707,-0.017c-0.447,-0.002 -10.607,-0.113 -12.904,-0.018c-1.458,0.061 -2.389,-1.019 -2.39,-2.495zM4.5447,46.1758c10.218,0 20.436,-0.019 30.653,0.027c1.19,0.006 1.41,-0.388 1.408,-1.482c-0.036,-13.49 -0.024,-26.982 -0.024,-40.473v-1.322h-22.691c0,2.707 0.006,5.34 -0.001,7.973c-0.005,1.935 -0.763,2.734 -2.693,2.763c-2.208,0.034 -4.421,0.067 -6.626,-0.011c-1.107,-0.039 -1.481,0.248 -1.475,1.422c0.045,9.9 0.025,19.803 0.028,29.705c0,0.421 0.038,0.846 0.066,1.398zM5.2997,10.9588c1.842,0 3.552,0.016 5.261,-0.021c0.181,-0.004 0.508,-0.312 0.512,-0.487c0.037,-1.752 0.023,-3.504 0.023,-5.191c-1.91,1.879 -3.777,3.715 -5.796,5.699z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.8145,20.3438c4.023,0 8.045,-0.001 12.068,0.006c0.391,0 0.889,-0.09 1.151,0.109c0.415,0.317 0.935,0.848 0.923,1.276c-0.011,0.433 -0.56,0.922 -0.982,1.244c-0.23,0.178 -0.685,0.082 -1.038,0.082c-8.046,0.004 -16.091,0.006 -24.136,0.004c-1.581,0 -2.352,-0.467 -2.325,-1.39c0.026,-0.911 0.775,-1.329 2.39,-1.331z' fill='#ffffff' fill-opacity='1')


                p.b-certificates__name Экспертное заключение
                p.b-certificates__text по результатам санитарно-эпидемической экспертизы продукции Изделия из резиновой крошки (плитка, бордюры, накладки на ступени, маты, ковры) по ТУ 2539-001-00014467-2013
                a.b-certificates__link.b-next
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-certificates__card
                .b-certificates__icon
                    svg#SVGDoc(width='40' height='49' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 40 49')
                        g
                            g
                                title &lt;Path&gt;
                                path(d='M24.7461,14.6675c2.48,0 4.963,0.008 7.443,-0.003c0.959,-0.002 1.756,0.218 1.835,1.347c0.064,0.905 -0.551,1.367 -1.794,1.369c-5.042,0.011 -10.084,0.011 -15.125,0c-1.209,-0.002 -1.822,-0.489 -1.774,-1.388c0.061,-1.098 0.834,-1.318 1.735,-1.323c2.559,-0.007 5.119,-0.002 7.68,-0.002z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.7949,40.0958c-4.018,0 -8.035,0.002 -12.053,-0.002c-0.353,0 -0.801,0.104 -1.041,-0.07c-0.469,-0.334 -1.179,-0.875 -1.135,-1.25c0.062,-0.496 0.726,-0.946 1.186,-1.356c0.137,-0.121 0.456,-0.046 0.691,-0.046c8.234,0 16.466,-0.006 24.699,0.002c1.587,0.002 2.216,0.743 1.565,1.974c-0.212,0.402 -0.983,0.709 -1.504,0.715c-4.136,0.059 -8.271,0.033 -12.408,0.033z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.7715,31.692c3.984,0.001 7.97,0 11.955,0.001c0.355,0 0.714,-0.019 1.064,0.028c0.76,0.104 1.343,0.588 1.186,1.316c-0.103,0.475 -0.684,1.026 -1.171,1.192c-0.683,0.234 -1.477,0.181 -2.224,0.183c-7.655,0.01 -15.309,0.006 -22.963,0.002c-0.316,0 -0.722,0.096 -0.926,-0.06c-0.458,-0.357 -1.122,-0.838 -1.128,-1.278c-0.006,-0.439 0.627,-0.97 1.094,-1.301c0.27,-0.189 0.763,-0.08 1.158,-0.082c3.984,-0.001 7.971,-0.001 11.955,-0.001z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.6875,26.022c4.062,0 8.124,0 12.185,0.002c0.354,0 0.815,-0.106 1.04,0.07c0.442,0.349 0.963,0.818 1.069,1.318c0.142,0.664 -0.372,1.168 -1.089,1.285c-0.348,0.059 -0.707,0.042 -1.061,0.044c-8.005,0.001 -16.011,0.001 -24.017,0c-1.588,0 -2.352,-0.456 -2.335,-1.382c0.018,-0.916 0.761,-1.337 2.378,-1.337z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M0.3657,46.4228c-0.01,-11.202 -0.021,-22.403 0.034,-33.604c0.004,-0.695 0.405,-1.547 0.899,-2.055c3.186,-3.267 6.456,-6.453 9.683,-9.682c0.708,-0.708 1.493,-1.033 2.514,-1.029c7.573,0.027 15.146,0.016 22.719,0.016c2.203,0 3.126,0.925 3.127,3.173c0.005,12.267 0.004,24.532 0.004,36.8c0,1.97 0.011,3.943 -0.005,5.914c-0.016,1.967 -1.032,2.995 -2.974,2.997c-6.902,0.008 -13.804,0.012 -20.707,-0.017c-0.447,-0.002 -10.607,-0.113 -12.904,-0.018c-1.458,0.061 -2.389,-1.019 -2.39,-2.495zM4.5447,46.1758c10.218,0 20.436,-0.019 30.653,0.027c1.19,0.006 1.41,-0.388 1.408,-1.482c-0.036,-13.49 -0.024,-26.982 -0.024,-40.473v-1.322h-22.691c0,2.707 0.006,5.34 -0.001,7.973c-0.005,1.935 -0.763,2.734 -2.693,2.763c-2.208,0.034 -4.421,0.067 -6.626,-0.011c-1.107,-0.039 -1.481,0.248 -1.475,1.422c0.045,9.9 0.025,19.803 0.028,29.705c0,0.421 0.038,0.846 0.066,1.398zM5.2997,10.9588c1.842,0 3.552,0.016 5.261,-0.021c0.181,-0.004 0.508,-0.312 0.512,-0.487c0.037,-1.752 0.023,-3.504 0.023,-5.191c-1.91,1.879 -3.777,3.715 -5.796,5.699z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.8145,20.3438c4.023,0 8.045,-0.001 12.068,0.006c0.391,0 0.889,-0.09 1.151,0.109c0.415,0.317 0.935,0.848 0.923,1.276c-0.011,0.433 -0.56,0.922 -0.982,1.244c-0.23,0.178 -0.685,0.082 -1.038,0.082c-8.046,0.004 -16.091,0.006 -24.136,0.004c-1.581,0 -2.352,-0.467 -2.325,-1.39c0.026,-0.911 0.775,-1.329 2.39,-1.331z' fill='#ffffff' fill-opacity='1')



                p.b-certificates__name Санитарный сертификат
                p.b-certificates__text Экспертное заключение о соответсвии продукции Единым санитарно-эпидемиологическому надзору (контролю)
                a.b-certificates__link.b-next
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
            .b-certificates__card
                .b-certificates__icon
                    svg#SVGDoc(width='40' height='49' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 40 49')
                        g
                            g
                                title &lt;Path&gt;
                                path(d='M24.7461,14.6675c2.48,0 4.963,0.008 7.443,-0.003c0.959,-0.002 1.756,0.218 1.835,1.347c0.064,0.905 -0.551,1.367 -1.794,1.369c-5.042,0.011 -10.084,0.011 -15.125,0c-1.209,-0.002 -1.822,-0.489 -1.774,-1.388c0.061,-1.098 0.834,-1.318 1.735,-1.323c2.559,-0.007 5.119,-0.002 7.68,-0.002z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.7949,40.0958c-4.018,0 -8.035,0.002 -12.053,-0.002c-0.353,0 -0.801,0.104 -1.041,-0.07c-0.469,-0.334 -1.179,-0.875 -1.135,-1.25c0.062,-0.496 0.726,-0.946 1.186,-1.356c0.137,-0.121 0.456,-0.046 0.691,-0.046c8.234,0 16.466,-0.006 24.699,0.002c1.587,0.002 2.216,0.743 1.565,1.974c-0.212,0.402 -0.983,0.709 -1.504,0.715c-4.136,0.059 -8.271,0.033 -12.408,0.033z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.7715,31.692c3.984,0.001 7.97,0 11.955,0.001c0.355,0 0.714,-0.019 1.064,0.028c0.76,0.104 1.343,0.588 1.186,1.316c-0.103,0.475 -0.684,1.026 -1.171,1.192c-0.683,0.234 -1.477,0.181 -2.224,0.183c-7.655,0.01 -15.309,0.006 -22.963,0.002c-0.316,0 -0.722,0.096 -0.926,-0.06c-0.458,-0.357 -1.122,-0.838 -1.128,-1.278c-0.006,-0.439 0.627,-0.97 1.094,-1.301c0.27,-0.189 0.763,-0.08 1.158,-0.082c3.984,-0.001 7.971,-0.001 11.955,-0.001z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.6875,26.022c4.062,0 8.124,0 12.185,0.002c0.354,0 0.815,-0.106 1.04,0.07c0.442,0.349 0.963,0.818 1.069,1.318c0.142,0.664 -0.372,1.168 -1.089,1.285c-0.348,0.059 -0.707,0.042 -1.061,0.044c-8.005,0.001 -16.011,0.001 -24.017,0c-1.588,0 -2.352,-0.456 -2.335,-1.382c0.018,-0.916 0.761,-1.337 2.378,-1.337z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M0.3657,46.4228c-0.01,-11.202 -0.021,-22.403 0.034,-33.604c0.004,-0.695 0.405,-1.547 0.899,-2.055c3.186,-3.267 6.456,-6.453 9.683,-9.682c0.708,-0.708 1.493,-1.033 2.514,-1.029c7.573,0.027 15.146,0.016 22.719,0.016c2.203,0 3.126,0.925 3.127,3.173c0.005,12.267 0.004,24.532 0.004,36.8c0,1.97 0.011,3.943 -0.005,5.914c-0.016,1.967 -1.032,2.995 -2.974,2.997c-6.902,0.008 -13.804,0.012 -20.707,-0.017c-0.447,-0.002 -10.607,-0.113 -12.904,-0.018c-1.458,0.061 -2.389,-1.019 -2.39,-2.495zM4.5447,46.1758c10.218,0 20.436,-0.019 30.653,0.027c1.19,0.006 1.41,-0.388 1.408,-1.482c-0.036,-13.49 -0.024,-26.982 -0.024,-40.473v-1.322h-22.691c0,2.707 0.006,5.34 -0.001,7.973c-0.005,1.935 -0.763,2.734 -2.693,2.763c-2.208,0.034 -4.421,0.067 -6.626,-0.011c-1.107,-0.039 -1.481,0.248 -1.475,1.422c0.045,9.9 0.025,19.803 0.028,29.705c0,0.421 0.038,0.846 0.066,1.398zM5.2997,10.9588c1.842,0 3.552,0.016 5.261,-0.021c0.181,-0.004 0.508,-0.312 0.512,-0.487c0.037,-1.752 0.023,-3.504 0.023,-5.191c-1.91,1.879 -3.777,3.715 -5.796,5.699z' fill='#ffffff' fill-opacity='1')
                            g
                                title &lt;Path&gt;
                                path(d='M19.8145,20.3438c4.023,0 8.045,-0.001 12.068,0.006c0.391,0 0.889,-0.09 1.151,0.109c0.415,0.317 0.935,0.848 0.923,1.276c-0.011,0.433 -0.56,0.922 -0.982,1.244c-0.23,0.178 -0.685,0.082 -1.038,0.082c-8.046,0.004 -16.091,0.006 -24.136,0.004c-1.581,0 -2.352,-0.467 -2.325,-1.39c0.026,-0.911 0.775,-1.329 2.39,-1.331z' fill='#ffffff' fill-opacity='1')



                p.b-certificates__name Сертификат соответсвия
                p.b-certificates__text продукции Изделия из резиновой <br> крошки (плитка, бордюры, накладки на ступени, <br> маты, ковры) серийный выпуск ТУ 2539-001-00014467-2013
                a.b-certificates__link.b-next
                    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.81 12.81')
                        defs
                            style.
                                .cls-1 {
                                    fill: #626366;
                                }

                                .cls-2 {
                                    fill: none;
                                    stroke: #fffff3;
                                    stroke-miterlimit: 10;
                                }
                        title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 10
                        g(id='Слой_2' data-name='Слой 2')
                            g(id='сайт')
                                path.cls-1(d='M12.81,6.41A6.41,6.41,0,1,1,6.41,0,6.39,6.39,0,0,1,12.81,6.41Z')
                                polyline.cls-2(points='5.4 3.48 7.88 5.96 5.4 8.44')

                    span далее
