footer#footer.b-footer
    .b-footer__container
        .b-footer__col
            p.b-footer__text © Дмитровский завод РТИ
            p.b-footer__text 141801, Московская область, Дмитровский район, село Внуково, 126
        .b-footer__col
            p.b-footer__text
                | Многоканальный телефон
                a.b-footer__link(href="tel:+74951182383") (495) 118-23-83
            p.b-footer__text
                | Отдел продаж
                a.b-footer__link(href="tel:+74957214371") (495) 721-43-71
                | с 9:00 до 21:00
            p.b-footer__text
                | Отдел утилизации
                a.b-footer__link(href="tel:+79296565770") (929) 65-65-770
                | с 9:00 до 18:00
        .b-footer__col
            p.b-footer__text
                | Электронная почта
                a.b-footer__email(href="mailto:mail@dz-rti.ru") mail@dz-rti.ru
            p.b-footer__text
                | Социальные сети
                .b-footer__socials
                    a.b-footer__social(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 27.37 27.24')
                            defs
                                style.
                                    .cls-1 {
                                        fill: #231f20;
                                        fill-rule: evenodd;
                                    }
                            title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 13
                            g(id='Слой_2' data-name='Слой 2')
                                g(id='сайт')
                                    path.cls-1(d='M27.36,9.32A17.59,17.59,0,0,0,27.3,7.4,7.71,7.71,0,0,0,25.71,3,7,7,0,0,0,23.86,1.3l-.18-.11a8.85,8.85,0,0,0-4-1.1c-.32,0-.65,0-1,0h-.42C16.87,0,15.42,0,14,0,12.15,0,10.32,0,8.5,0A9.44,9.44,0,0,0,3.69,1.16,7.81,7.81,0,0,0,2.5,2l0,0-.1.09a7.08,7.08,0,0,0-1.2,1.48.05.05,0,0,1,0,0,1.09,1.09,0,0,0-.08.15L1,4l0,0A8.79,8.79,0,0,0,0,8c0,2.41,0,4.82,0,7.22,0,.9,0,1.79,0,2.68,0,.64,0,1.28.06,1.92a7.78,7.78,0,0,0,1.59,4.41A7.16,7.16,0,0,0,3.5,25.94l.18.11a8.88,8.88,0,0,0,4,1.1c.33,0,.66,0,1,.05h.42c1.45,0,2.9,0,4.35,0,1.82,0,3.64,0,5.46,0a9.42,9.42,0,0,0,4.81-1.12,7.9,7.9,0,0,0,1.2-.88l0,0,.1-.09a7.08,7.08,0,0,0,1.2-1.48l0,0,.09-.15s.05-.1.08-.16a.08.08,0,0,0,0,0,8.8,8.8,0,0,0,.91-4q0-3.61,0-7.22ZM7.3,24.49H7.13l-1.36-.26a4.28,4.28,0,0,1-1.55-.93l-.86-1.12a5.59,5.59,0,0,1-.58-1.64,10.45,10.45,0,0,1-.21-2q0-4.89,0-9.78a7.27,7.27,0,0,1,.92-3.87A5,5,0,0,1,7.84,2.64l.69,0c3.85,0,7.69,0,11.53.14h.17c.46.07.91.17,1.36.26A4.43,4.43,0,0,1,23.14,4L24,5.07a5.89,5.89,0,0,1,.58,1.64,12.35,12.35,0,0,1,.21,2q0,4.88,0,9.77a7.33,7.33,0,0,1-.91,3.87,5,5,0,0,1-4.37,2.24l-.69,0C15,24.63,11.14,24.59,7.3,24.49Z')
                                    path.cls-1(d='M13.7,6.63a7,7,0,1,1-7.08,7A7,7,0,0,1,13.7,6.63ZM13.7,18a4.54,4.54,0,0,0,4.49-4.33,4.51,4.51,0,1,0-9,0A4.47,4.47,0,0,0,13.7,18Z')
                                    path.cls-1(d='M21,4.71A1.74,1.74,0,0,1,22.7,6.43,1.74,1.74,0,0,1,21,8.07a1.64,1.64,0,0,1-1.64-1.71A1.67,1.67,0,0,1,21,4.71Z')

                    a.b-footer__social(href="#")
                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 28.06 15.97')
                            defs
                                style.
                                    .cls-1 {
                                        fill: #231f20;
                                        fill-rule: evenodd;
                                    }
                            title &Rcy;&iecy;&scy;&ucy;&rcy;&scy; 14
                            g(id='Слой_2' data-name='Слой 2')
                                g(id='сайт')
                                    path.cls-1(d='M9.25,1a3.52,3.52,0,0,1,1-.64,11,11,0,0,1,5.34,0,.9.9,0,0,1,.8.88c0,.71,0,1.42,0,2.14,0,1.08,0,2.17,0,3.26a.53.53,0,0,0,0,.25c.21.31.37.73.67.87s.64-.22.82-.47c.82-1.13,1.62-2.28,2.35-3.47a20.79,20.79,0,0,0,1.09-2.34A1.13,1.13,0,0,1,22.41.74C23.2.69,27.14,1,27.25.8c.78.15.68.2.49,1.22a7.14,7.14,0,0,1-1.53,2.86c-.7,1-1.44,1.93-2.16,2.89-.83,1.11-.77,1.47.19,2.44,1.11,1.12,2.2,2.26,3.23,3.45.35.4.79.91.5,1.52s-1,.66-1.58.69c-.91,0-1.83,0-2.74.08a4.29,4.29,0,0,1-3.78-1.73,18.91,18.91,0,0,0-1.51-1.59c-.73-.67-1.36-.5-1.66.44a8.32,8.32,0,0,0-.33,1.65c-.06.69-.33,1-1,1.1a10.08,10.08,0,0,1-9.53-4.1A44.79,44.79,0,0,1,.16,2.06C-.2,1.27,0,.82.9.78c1.35-.06,2.7,0,4,0,.64,0,1,.52,1.19,1.06A22.11,22.11,0,0,0,9,6.83c.34.44.67,1.11,1.36.91s.58-.86.59-1.39c0-1.21,0-2.43,0-3.64a1.38,1.38,0,0,0-1-1.3l-.53-.22A1.19,1.19,0,0,1,9.25,1Z')



