header#header.b-header
    .b-header__container
        .b-logo.b-header__logo
            span Дмитровский  завод
            p РТИ
            img(src="img/logo.png")
        nav.b-menu.b-header__menu
            a.b-menu__link(href="#header") Главная
            a.b-menu__link(href="#partnership") Сотрудничество
            a.b-menu__link(href="#pricelist") Прайс-лист
            a.b-menu__link(href="#certificates") Сертификаты
            a.b-menu__link(href="#implementation") Внедрение
            a.b-menu__link(href="#contacts") Контакты
        .b-header__contacts
            a.b-header__phone(href="tel:+74951182383") +7 (495) 118 2383
            a.b-header__call.js-show-popup(href="#") Заказать обратный звонок
        .b-burger.js-burger
            span
            span
            span
