section.b-main
    .b-main__container
        h1.b-main__title Спасаем мир от старых шин
        p.b-main__text Мы готовы принять от Ваш шины в любом состоянии соверешенно <strong>бесплатно.</strong> Сообщите нам по телефону <a href="tel:+74951182383"><strong>+7 (495) 118 2383 </strong></a>, или оставьте заявку и мы приедем и заберем шины на утилизацию.
        button.b-button.b-button--large.b-main__button
            span.b-button__content Оставить заявку
