section.b-points
    .container
        h2.b-points__title Пункты приема шин
    .b-points__map
        .b_points__info
            .b-points__item
                span.b-points__name Дмитровский завод РТИ
                p.b-points__text Московская область, Дмитровский район, городское поселение Дмитров, село Внуково, д. 126
            .b-points__item
                span.b-points__name Контейнеры
                p.b-points__text г. Дмитров, ул. Московская д. 29а (АЗС DP)
                p.b-points__text г. Дубна, улица Луговая, д. 31
                p.b-points__text г. Дубна, ул Октябрьская, в районе д. 32
        #map
