html, body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  font-size: 16px;
}

body {
  font-family: $mainFont;
  position: relative;
}

a {
  text-decoration: none !important;
  @include trs(color);
  color: inherit;
}

* {
  outline: none;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

textarea {
  resize: none;
}
.first-bg {
  background: url("../img/main-bg.png") no-repeat center center/cover;
  position: relative;
  @include media(lg) {
    background-size: 190%;
  }
  @include media(sm) {
    background: url("../img/main-bgMobile.jpg") no-repeat center center/cover;
  }
  &--sales {
    background: url("../img/main-bg--sales.png") no-repeat center center;
    position: relative;

  }
}

