.container {
  max-width: 1080px;
  width: 100%;
  @include mx--auto;
  @include media(xl) {
    max-width: none;
    padding: 0 65px;
  }
  @include media(md) {
    padding: 0 9%;
  }
  @include media(sm) {
    padding: 0 8%;
  }
}
