$breakpoints: (
  "xsm": 321px,
  "xs": 376px,
  "sm": 577px,
  "md": 769px,
  "lg": 1025px,
  "xl": 1320px
);
$z-indexes: (
  'modal': 3,
  'dropdown': 2,
  'default': 1,
  'below': -1,
);

// Colors
$light: #fff;
$main: #75b53e;
$bg: #38424b;
$dark: #231f20;
$text: #626366;


$mainFont: 'Myriad Pro', sans-serif;
$accentFont: 'Roboto', sans-serif;



