body
    .first-bg
        include ../blocks/_header
        include ../blocks/_main
    main
    include ../blocks/_cards
    include ../blocks/_about
    include ../blocks/_clear
    include ../blocks/_certificates
    include ../blocks/_scope
    include ../blocks/_points
    include ../blocks/_footer
    script(src='js/scripts.min.js')
