body
    //.first-bg
        //include ../blocks/_header
        //include ../blocks/_main
    main
        include ../blocks/_utilization/_recycling
        include ../blocks/_utilization/_equipment
    //include ../blocks/_footer
    script(src='js/scripts.min.js')