section.b-main
    .b-main__container
        h1.b-main__title Использование норматива утилизации <br> отходов для импортеров товаров, услуг
        p.b-main__text ООО «Дмитровский завод РТИ» оказывает полный перечень для выполнения норматива утилизации товаров и услуг, готовит необходимую документацию.
        button.b-button.b-button--large.b-main__button
            span.b-button__content Оставить заявку
