section.b-order-track.b-order-track--normative
    .container.b-order-track__container
        .b-order-track__content
            h2.b-order-track__title.bTitle-h2 Заключить договор на утилизацию отходов в рамках норматива

            p.b-order-track__descr ООО «Дмитровский завод РТИ» приглашает к сотрудничеству предприятия, нуждающиеся в утилизации: покрышек, шин, колес.
            p.b-order-track__descr Мы БЕСПЛАТНО вывезем резиновые отходы в том числе автомобильные шины с вашего предприятия, предоставляя необходимые документы для отчетности.

            button.b-order-track__button.b-button.b-button--large(type="button")
                span.b-button__content оставить заявку

        .b-order-track__img
            img(src="img/order-track--bg.png")
