body
    .first-bg.first-bg--sales
        include ../_header
        include _main
    main
    include _recycling
    include _clear
    include ../_certificates
    include ../_scope
    include _points
    include ../_cards
    include ../_footer
    script(src='js/scripts.min.js')
