body
    .first-bg.first-bg--sales
        include ../_header
        include _main
    main
    include _recycling
    include _equipment
    include _order-track
    include _dogovor
    include _points
    include _scope
    include _certificates
    include ../_sales/_cards
    include ../_footer
    script(src='js/scripts.min.js')
