section.b-recycling.b-recycling--normative
    .container
        h2.b-recycling__title.bTitle-h2 Услуги по выполнениею норматива на утилизацию

        .b-recycling__offers
            .b-recycling__card
                .b-recycling__image-wrap
                    img(src="img/recycling-card-4.png").b-recycling__image.img-responsive
                .b-recycling__card-content
                    .b-recycling__title-wrap
                        img(src="img/utilization/icon-4.svg").b-recycling__icon.b-recycling__icon--1
                        h3.b-recycling__card-title Выполнение норматива по утилизации
                    p.b-recycling__card-descr для удобства утилизации мы разместили несколько площадок, куда можно отдать использованные шины

                    button.b-button.b-button--small(type="button")
                        span.b-button__content cмотреть

            .b-recycling__card
                .b-recycling__image-wrap
                    img(src="img/recycling-card-5.png").b-recycling__image.img-responsive
                .b-recycling__card-content
                    .b-recycling__title-wrap
                        img(src="img/utilization/icon-5.svg").b-recycling__icon.b-recycling__icon--2
                        h3.b-recycling__card-title Подготовка правовых документов на утилизацию
                    p.b-recycling__card-descr при больших объемах шин, от 50 тонн мы готовы прислать машину, что бы забрать скопившиеся у вас шины

                    button.b-button.b-button--small(type="button")
                        span.b-button__content cмотреть

            .b-recycling__card
                .b-recycling__image-wrap
                    img(src="img/recycling-card-6.png").b-recycling__image--3.b-recycling__image.img-responsive
                .b-recycling__card-content
                    .b-recycling__title-wrap
                        img(src="img/utilization/icon-6.svg").b-recycling__icon.b-recycling__icon--3
                        h3.b-recycling__card-title Консультация по вопросам экологического законодательства
                    p.b-recycling__card-descr возможно установить на вашей территории контейнера для сбора отрабо- танных шинтщ

                    button.b-button.b-button--small(type="button")
                        span.b-button__content cмотреть
