section.b-scope
    .container
        h2.b-scope__title Сфера применения резиновой крошки
        .b-scope__cards
            .b-scope__card
                .b-scope__img
                    img(src="img/scope1.jpg")
                p.b-scope__name Покрытие спортивных <br>и детских площадок
                p.b-scope__text Крошка диаметром до 5 мм используется для создания безшовных покрытий на уличных детских и спортивных площадках
                button.b-button.b-button--small.b-scope__button(type="button")
                    span.b-scope__button читать

            .b-scope__card
                .b-scope__img
                    img(src="img/scope2.jpg")
                p.b-scope__name Водонепроницаемые напольные <br>покрытия
                p.b-scope__text Крошка диаметром до 5 мм используется для создания безшовных водонепроницаемых наполных покрытий там где это необходимо
                button.b-button.b-button--small.b-scope__button(type="button")
                    span.b-scope__button читать
            .b-scope__card
                .b-scope__img
                    img(src="img/scope3.jpg")
                p.b-scope__name Вторичная переработка для создания <br> автомобильных шин
                p.b-scope__text Крошка диаметром до 1 мм используется в качестве добавки при произ- водстве автомобильных шин
                button.b-button.b-button--small.b-scope__button(type="button")
                    span.b-scope__button читать
