.b-equipment {
    position: relative;
    display: flex;
}

.b-equipment__image {
    background-image: url("../img/utilization/bg.jpg ");
    background-repeat: no-repeat;
    background-size: cover;

}

.b-equipment__image {
    width: 52%;
    min-height: 527px;
}

.b-equipment__content {
    padding-top: 38px;
    padding-bottom: 33px;
    max-width: 540px;
    padding-left: 80px;
}

.b-equipment__descr {
    font-size: 18px;
    font-family: $mainFont;
    line-height: 23px;
    color: $dark;
    margin-bottom: 20px;
}

.b-equipment__button {
    margin-top: 84px;
}

