.b-equipment {
    padding-top: 38px;
    padding-bottom: 33px;
    position: relative;
    display: flex;
}

.b-equipment__image {
    background-image: url("../img/utilization/bg.jpg ");
    background-repeat: no-repeat;
    background-size: cover;
}

.b-equipment__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 53%;
    max-width: 790px;
    height: 100%;
}

.b-equipment__content {
    max-width: 500px;
    padding-left: 80px;
    margin-left: auto;
}

.b-equipment__descr {
    font-size: 18px;
    font-family: $mainFont;
    line-height: 23px;
    color: $dark;
    margin-bottom: 20px;
}

.b-equipment__button {
    margin-top: 84px;
}

