.b-certificates {
  background-color: #f7f7f7;
  padding-top: 125px;
  padding-bottom: 191px;
  &__title {
    margin-left: 40px;
    @include font(36, bold);
    font-family: $accentFont;
    margin-bottom: 95px;
    @include media(lg) {
      margin-bottom: 5%;
      margin-left: 0;
    }
    @include media(sm) {
      @include font(25);
      margin-bottom: 10%;
    }
  }
  &__cards {
    @include flex(center, space-between);
    @include media(lg) {
      flex-wrap: wrap;
    }
  }
  &__card {
    max-width: 251px;
    text-align: center;
    @include media(lg) {
      max-width: none;
      width: 49%;
      text-align: left;
      @include mb(20);
    }
    @include media(sm) {
      width: 100%;
      margin-bottom: 8%;
    }
  }
  &__icon {
    @include size(113px);
    @extend %circle;
    background: $bg;
    @include flex(center, center);
    @include mx--auto;
    margin-bottom: 25px;
    @include media(lg) {
      margin: 0;
      margin-bottom: 25px;
    }
    @include media(sm) {
      @include size(90px);
      margin-bottom: 2%;
    }
  }
  &__name {
    @include font(18, bold);
    letter-spacing: -.18px;
    color: #231f20;
    margin-bottom: 10px;
    @include media(sm) {
      height: auto;
    }

  }
  &__text {
    @include font(13);
    color: #626366;
    line-height: 14px;
    letter-spacing: -.18px;
    margin-bottom: 34px;
    min-height: 43px;
    @include media(lg) {
      max-width: 50%;
    }
    @include media(sm) {
      max-width: 100%;
      margin-bottom: 5px;
    }
  }
  @include media(lg) {
    padding: 5% 0;
  }
}
