.b-clear {
  background: url("../img/clear-bg.png") no-repeat;
  padding-top: 130px;
  margin-top: 250px;
  position: relative;
  color: #000;
  background-position-y: 40%;
  height: 930px;
  background-position-x: 118%;
  background-size: cover;
  &--sales {
    background: url("../img/clear-bg--sales.png") no-repeat;
    height: 970px;
    background-size: cover;
    background-position-y: 10%;
    margin-top: 150px;
    padding-top: 150px;
  }
  &__title {
    @include font(50, bold);
    font-family: $accentFont;
    line-height: 61px;
    text-align: center;
    max-width: 750px;
    @include mx--auto;
  }
}
