.b-footer {
  padding-top: 46px;
  background-color: #f7f7f7;
  &__container {
    @include flex(false, space-between);
    max-width: 1215px;
    @include mx--auto;
    @include media(lg) {
      max-width: 100%;
      padding: 0 2%;
    }
    @include media(md) {
      flex-wrap: wrap;
    }

  }
  &__text {
    @include font(24, 300);
    font-family: $accentFont;
    margin-bottom: 27px;
    max-width: 400px;
    a {
      display: inline-block;
      @include trs;
      margin-right: 5px;
      &:hover {
        color: $main;
      }
      @include media(md) {
        display: block;
      }
    }
    span {
      display: block;
    }
    @include media(lg) {
      @include font(21);
      max-width: 300px;
    }
    @include media(md) {
      @include font(18);
      margin-bottom: 10%;
      max-width: 230px;
    }
    @include media(sm) {
      margin-bottom: 15px;
      width: 100%;
      @include font(16);
      &:nth-child(2) {
        max-width: none;
      }
    }
  }
  &__social {
    margin-top: -27px;
    @include size(29px);
    @include mr(15);
    display: inline-block;
    svg {
      @include size(29px);
      path {
        @include trs;
      }
    }
    &:hover {
      svg path {
        fill: $main;
      }
    }
    @include media(sm) {
      margin-top: -10px;
    }
  }
  @include media(lg) {
    padding-top: 2%;
  }
}
