.b-main {
  padding-bottom: 150px;
  margin-top: 58px;
  color: $light;
  &__container {
    max-width: 1170px;
    @include mx--auto;
  }
  &__title {
    @include font(40, bold, true);
    font-family: $accentFont;
    letter-spacing: -1px;
    margin-bottom: 15px;
  }
  &__text {
    @include font(24);
    letter-spacing: -.6px;
    hyphens: auto;
    max-width: 80%;
  }
  &__button {
    margin-top: 35px;
  }
}
