.b-points {
  margin-top: 150px;
  &__title {
    margin-left: 40px;
    @include font(36, bold);
    color: $dark;
    margin-bottom: 15px;
    @include media(lg) {
      margin-left: 0;
    }
    @include media(sm) {
      @include font(25);
      margin-bottom: 20px;
    }
  }
  &__map {
    position: relative;
    height: 701px;
    @include media(lg) {
      height: 600px;
    }
  }
  &__info {
    position: absolute;
    top: 0;
    right: 10%;
    width: 320px;
    height: 100%;
    padding-top: 35px;
    padding-left: 27px;
    background: #f7f7f7;
    z-index: 9999;
    @include media(lg) {
      padding: 2%;
      right: 0;
    }
    @include media(sm) {
      height: 35%;
      width: 100%;
      right: -1000%;
      transition: .5s;
      &--active {
        right: 0;
      }
    }
  }
  &__item {
    @include mb(12);
  }
  &__name {
    @include font(18,bold);
    color: $main;
  }
  &__text {
    margin-left: 20px;
    @include font(14);
    color: #626366;
    @include mb(13);
  }
  #map {
    width: 100%;
    height: 100%;
  }
  &__burger {
    display: none;
    border: none;
    background: transparent;
    box-shadow: none;
    width: 25px;
    height: 15px;
    transform: rotate(0);
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 27px;
    z-index: 99999;
    right: 2%;
    top: -2%;
    position: absolute;
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      border-radius: 9px;
      transform: rotate(0);
      transition: .25s ease-in-out;
      opacity: 1;
      left: 0;
      background: $main;

      &:nth-child(1) {
        top: 0;
        transform-origin: center center;
      }

      &:nth-child(2) {
        top: 50%;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 100%;
        transform-origin: center center;
      }
    }

    &--active {
      span {
        &:nth-child(1) {
          transform: translate(0, -50%) rotate(45deg);
          top: 50%;
        }

        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate(0, -50%) rotate(-45deg);
          top: 50%;
        }
      }
    }

    @include media(sm) {
      display: block;
    }
  }
  @include media(lg) {
    margin-top: 5%;
  }
  @include media(sm) {
    margin-top: 15%;
  }
}

