.b-products {
  &__cards {
    @include flex(false, space-between);
    text-align: center;
  }
  &__card {
    max-width: 230px;
  }
  &__icon {
    @include size(113px);
    @extend %circle;
    text-align: center;
    margin-bottom: 23px;
    background: $bg;
    @include mx--auto;
    color: $light;
    @include flex(center, center);
    position: relative;
    svg {
      position: absolute;
      bottom: 8px;
      right: -14px;
      margin-bottom: 12px;
    }
  }
  &__name {
    @include font(18, bold);
    letter-spacing: -1px;
    color: #231f20;
    margin-bottom: 20px;
  }
  &__text {
    margin-bottom: 15px;
    color: #626366;
    @include font(12);
    strong {
      display: block;
    }
  }
  &__price {
    @include font(18, bold);
    letter-spacing: -.18px;
    margin-bottom: 20px;
    display: block;
  }
  &__address {
    @include font(18, bold);
    span {
      display: block;
      @include font(12);
      color: #626366;
    }
  }
}
