.b-equipment {
  position: relative;
  @include flex;

  &__image {
    width: 60%;
    background: url("../img/utilization/bg.jpg ") no-repeat;
    background-size: cover;
    &--normative {
      background: url("../img/utilization/bg--normative.png") no-repeat;
      background-size: cover;
      width: 60%;
    }
  }

  &__button {
    margin-top: 84px;
  }

  &__content {
    max-width: 500px;
    padding-left: 80px;
    width: 40%;
    min-height: 527px;
    padding-top: 38px;
    padding-bottom: 33px;

  }

  &__descr {
    font-size: 18px;
    font-family: $mainFont;
    line-height: 23px;
    color: $dark;
    margin-bottom: 20px;
  }
}

