.b-recycling {
  padding-top: 70px;
  padding-bottom: 82px;
  background-color: #f7f7f7;

  &--normative {
    background: $light;
  }
}


.b-recycling__offers {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.b-recycling__card {
  width: 33.33%;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.b-recycling__image-wrap {
  margin-bottom: 14px;
}

.b-recycling__card-title {
  font-family: $mainFont;
  font-size: 18px;
  line-height: 21px;
  color: $main;
  max-width: 300px;
  margin-bottom: 9px;
}

.b-recycling__card-descr {
  font-family: $mainFont;
  font-size: 10px;
  line-height: 14px;
  color: $text;
  max-width: 300px;
  margin-bottom: 20px;
}

.b-recycling__card-content {
  display: flex;
}

.b-recycling__icon--1 {
  width: 22px;
  height: 31px;
  margin-top: 5px;
}

.b-recycling__icon--2 {
  width: 30px;
  height: 17px;
  margin-top: 5px;

}

.b-recycling__icon--3 {
  width: 40px;
  height: 43px;
}

.b-recycling__wrap {
  margin-left: 20px
}












