section.b-cards.b-cards--sales
    .container
        .b-cards__items
            .b-cards__item
                .b-cards__bg
                    img(src="img/cards1.jpg")
                .b-cards__icon
                    img(src="img/icon1.svg")
                h3.b-cards__text Утилизация Шин
            .b-cards__item
                .b-cards__bg
                    img(src="img/cards2.jpg")
                .b-cards__icon
                    img(src="img/icon2.svg")
                h3.b-cards__text Продажа резиновой крошки
            .b-cards__item
                .b-cards__bg
                    img(src="img/cards3.jpg")
                .b-cards__icon
                    img(src="img/icon3.svg")
                h3.b-cards__text Использование норматива по&nbsp;утилизации отходов
