section.b-main
    .b-main__container
        h1.b-main__title Продажа <br> резиновой крошки
        p.b-main__text Резиновая крошка производства ООО «Дмитровский завод РТИ» — это продукт переработки вторичного сырья изношенных автомобильных покрышек на современном высокоэффективном оборудовании. В процессе переработки образуются различные фракции резиновой кошки применяемые в многочисленных сферах деятельности.
        button.b-button.b-button--large.b-main__button
            span.b-button__content Оставить заявку
