section.b-points
    .container
        h2.b-points__title Самовывоз крошки
    .b-points__map
        .b-points__burger.js-points-burger
            span
            span
            span
        .b-points__info
            .b-points__item
                span.b-points__name Дмитровский завод РТИ
                p.b-points__text Московская область, Дмитровский район, городское поселение Дмитров, село Внуково, д. 126
        #map
