.b-button {
  @include flex(true, true);
  box-shadow: none;
  border: none;
  background: $main;
  cursor: pointer;
  @include trs;
  &__content {
    color: $light;
  }
  &--large {
    box-shadow: 0 0 12px 0 rgba($main,.3);
    @include size(220px, 65px);
    justify-content: center;
    border-radius: 50px;
    span {
      @include font(20, bold, true);
      letter-spacing: -1px;
      @include media(sm) {
        @include font(18);
        letter-spacing: normal;
      }
      @include media(xs) {
        @include font(16);
      }
    }
    @include media(xs) {
      @include size(200px, 50px);
    }
  }
  &--small {
    @include size(70px, 30px);
    border-radius: 8px;
    color: $light;
    font-family: $accentFont;
    line-height: 14px;
    justify-content: center;
    @include font(10, bold);
  }
  &:hover {
    background: rgba($main, .8);

  }
}
