section.b-equipment
    .container
        .b-equipment__image
        .b-equipment__content
            h2.b-equipment__title.bTitle-h2 Оборудование площадок <br> для приема шин на утилизацию

            p.b-equipment__descr ООО «Дмитровский завод РТИ» приглашаетк сотрудничеству территориальные единицы для организации площадок для приема шин на утилизацию
            p.b-equipment__descr Мы БЕСПЛАТНО поставим контейнер для сбора шин, и будем следить за его наполнением.

            button.b-equipment__button.b-button.b-button--large(type="button")
                span.b-button__content оставить заявку