section.b-scope.b-scope--utilization
    .container
        h2.b-scope__title Сдавая шины в помогаете природе
        .b-scope__cards
            .b-scope__card
                .b-scope__img
                    img(src="img/utilization/help1.jpg")
                p.b-scope__name Современные технологии утилизации <br> и переработки шин
                p.b-scope__text Существует несколько современных технологий утилизации автомо-бильных шин:
                button.b-button.b-button--small.b-scope__button(type="button")
                    span.b-scope__button читать

            .b-scope__card
                .b-scope__img
                    img(src="img/utilization/help2.jpg")
                p.b-scope__name Штрафы за несанкционированное складирование отходов
                p.b-scope__text Отработанные автомобильные покрышки по законодательству РФ являются отходами IV класса и подлежат обязательной утилизации.
                button.b-button.b-button--small.b-scope__button(type="button")
                    span.b-scope__button читать

            .b-scope__card
                .b-scope__img
                    img(src="img/utilization/help3.jpg")
                p.b-scope__name Способы переработки автомобильных шин
                p.b-scope__text На сегодняшний день переработка шин может осуществляться несколь-кими различными способами
                button.b-button.b-button--small.b-scope__button(type="button")
                    span.b-scope__button читать
