section.b-main
    .b-main__container
        h1.b-main__title Утилизация <br>шин и покришек
        p.b-main__text ООО «Дмитровский завод РТИ»  принимает на утилизацию шины и покрышки любых свалок мусора. Также, оборудует площадки для сбора шин, проводит эко-акции совместно с администрациями муниципалитетов.
        button.b-button.b-button--large.b-main__button
            span.b-button__content Оставить заявку