section.b-recycling
    .container
        h2.b-recycling__title.bTitle-h2 Услуги по утилизации покришек

        .b-recycling__offers
            .b-recycling__card
                .b-recycling__image-wrap
                    img(src="img/recycling-card-1.png").b-recycling__image.img-responsive
                .b-recycling__card-content
                    img(src="img/utilization/icon-1.svg").b-recycling__icon.b-recycling__icon--1
                    .b-recycling__wrap
                        h3.b-recycling__card-title Карта площадок бесплатного приема шин на утилизацию
                        p.b-recycling__card-descr Для удобства утилизации мы разместили несколько площадок, куда можно отдать использованные шины

                        button.b-button.b-button--small(type="button")
                              span.b-button__content cмотреть

            .b-recycling__card
                .b-recycling__image-wrap
                    img(src="img/recycling-card-2.png").b-recycling__image.img-responsive
                .b-recycling__card-content
                    img(src="img/utilization/icon-2.svg").b-recycling__icon.b-recycling__icon--2
                    .b-recycling__wrap
                        h3.b-recycling__card-title Карта площадок бесплатного приема шин на утилизацию
                        p.b-recycling__card-descr Для удобства утилизации мы разместили несколько площадок, куда можно отдать использованные шины

                        button.b-button.b-button--small(type="button")
                            span.b-button__content cмотреть

            .b-recycling__card
                .b-recycling__image-wrap
                    img(src="img/recycling-card-3.png").b-recycling__image--3.b-recycling__image.img-responsive
                .b-recycling__card-content
                    img(src="img/utilization/icon-3.svg").b-recycling__icon.b-recycling__icon--3
                    .b-recycling__wrap
                        h3.b-recycling__card-title Карта площадок бесплатного приема шин на утилизацию
                        p.b-recycling__card-descr Для удобства утилизации мы разместили несколько площадок, куда можно отдать использованные шины

                        button.b-button.b-button--small(type="button")
                            span.b-button__content cмотреть